* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff8f0;
  color: #2b2118;
  font-family: Literata;
}

header {
  background-color: #60985d;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding: 10px 20px;
  font-family: Gluten;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff8f0;
}

nav h3 {
  margin: 0 10px;
}

.restaurant-card {
  background-color: #fff8f0;
  color: #2b2118;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
  height: 160px;
  width: 200px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.restaurant-card:hover {
  cursor: pointer;
  background-color: #79a9d1;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.restaurant-list {
  min-height: calc(100vh - 106px);
  background-color: #60985d;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-content: flex-start;
  justify-content: center;
}

.body.neworder {
  background-color: #2b2118;
  color: #fff8f0;
}

.menu-item-card {
  background-color: #fff8f0;
  color: #2b2118;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
  width: 90%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu-item-card:hover {
  cursor: pointer;
  background-color: #79a9d1;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.order-screen-split {
  min-height: calc(100vh - 62px);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.menu-split {
  width: 70%;
}

.menu-display {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.order-display {
  width: calc(30% - 30px);
  min-width: 280px;
  padding: 15px;
  background-color: #f3e1b9;
  color: #2b2118;
}

.navlinks {
  margin: 10px;
  text-decoration: none;
  color: #fff8f0;
}

.navlinks:hover {
  text-decoration: underline;
}

.fake-logo {
  font-size: 35px;
  text-decoration: none;
  color: #fff8f0;
}

.search-container {
  text-align: center;
  background-color: #f3e1b9;
}

.search-container select,
.search-container button {
  height: 30px;
  margin: 7px;
  padding: 3px;
  border: 2px solid #60985d;
  border-radius: 3px;
  background-color: #60985d;
  color: #fff8f0;
}

.search-container select:hover,
.search-container button:hover {
  cursor: pointer;
  background-color: #fff8f0;
  color: #60985d;
}

.current-order-item {
  border: 2px solid #2b2118;
  border-radius: 3px;
  margin: 5px 0;
  padding: 5px;
}

.current-order-item button {
  height: 30px;
  margin: 7px;
  padding: 3px 7px;
  border: none;
  border-radius: 3px;
  background-color: #60985d;
  color: #fff8f0;
}

.current-order-item .button-increment {
  background-color: #60985d;
  color: #fff8f0;
}

.current-order-item .button-increment:hover {
  cursor: pointer;
  background-color: #fff8f0;
  color: #60985d;
}

.current-order-item .button-remove {
  background-color: #ed706e;
}

.current-order-item .button-remove:hover {
  cursor: pointer;
  background-color: #fff8f0;
  color: #ed706e;
}

.order-submit-button {
  height: 30px;
  margin: 7px;
  padding: 3px;
  border: 2px solid #60985d;
  border-radius: 3px;
  background-color: #60985d;
  color: #fff8f0;
}

.order-submit-button:hover {
  cursor: pointer;
  background-color: #fff8f0;
  color: #60985d;
}

.order-submit-button:disabled {
  opacity: 0.5;
  background-color: #60985d;
  color: #fff8f0;
  cursor: not-allowed;
}

.EatUp {
  font-size: 30px;
}
.site p {
  font-size: 22px;
}

.site {
  margin: 50px auto;
  margin-left: 50px;
  margin-bottom: 60px;
  line-height: 40px;
  margin-top: 0px;
}

.body.aboutus {
  margin-top: 0px;
  background: #f3e1b9;
}

.whole-team h2 {
  text-align: center;
  font-size: 30px;
}
.team h3 {
  font-size: 55px;
  color: white;
  margin-left: 10px;
}
.team h4 {
  font-size: 25px;
}
.bullet {
  margin-top: 30px;
  font-size: 28px;
  margin-left: 50px;
  line-height: 50px;
  color: white;
}
.links {
  display: flex;
  margin-top: 40px;
  color: white;
}
.links li {
  margin-left: 100px;
  text-decoration: none;
  list-style: none;
}
.about-page a:link {
  color: #fff8f0;
  background-color: transparent;
  text-decoration: none;
}
.about-page a:visited {
  color: #fff8f0;
  background-color: transparent;
  text-decoration: none;
}
.about-page a:hover {
  background-color: transparent;
  text-decoration: underline;
}
.meet {
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
}
.s-card {
  background-color: #ed706e;
}
.m-card {
  background-color: #2b2118;
}
.ms-card {
  background-color: #79a9d1;
  margin-bottom: 100px;
}
.team-container {
  margin: 0 auto;
}
.team {
  margin-top: 80px;
  font-size: 20px;
  height: 300px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

.about-links {
  text-decoration: none;
  margin: 5px;
}

.myorder {
  margin: 10px;
  line-height: 50px;
  border: 2px solid black;
  width: 60%;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 12px;
}

.myorder:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.myorder-contain h1 {
  font-size: 45px;
  margin-left: 30px;
}

.myorder h3 {
  font-size: 28px;
  text-decoration: underline;
  margin-left: 10px;
  text-align: center;
}

.myorder-contain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
