* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff8f0;
  color: #2b2118;
  font-family: Literata;
}

header {
  background-color: #60985d;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 10px;
  font-family: Gluten;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff8f0;
}

nav h3 {
  margin: 0 10px;
}

.restaurant-card {
  background-color: #60985d;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
  height: 150px;
  width: 200px;
  overflow: auto;
}

.restaurant-list {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}

.navlinks {
  margin: 10px;
  text-decoration: none;
  color: #fff8f0;
}

.navlinks:hover {
  text-decoration: underline;
}

.fake-logo {
  font-size: 35px;
  text-decoration: none;
  color: #fff8f0;
}

.EatUp {
  font-size: 30px;
}
.site p {
  font-size: 22px;
}

.site {
  margin: 50px auto;
  margin-left: 50px;
  margin-bottom: 60px;
  line-height: 40px;
  margin-top: 0px;
}

.about-background {
  height: 200vh;
  margin-top: 0px;
  background: #f3e1b9;
}

.whole-team h2 {
  text-align: center;
  font-size: 30px;
}
.team h3 {
  font-size: 55px;
  color: white;
  margin-left: 10px;
}
.team h4 {
  font-size: 25px;
}
.bullet {
  margin-top: 30px;
  font-size: 28px;
  margin-left: 50px;
  line-height: 50px;
  color: white;
}
.links {
  display: flex;
  margin-top: 40px;
  color: white;
}
.links li {
  margin-left: 100px;
  text-decoration: none;
  list-style: none;
}
a:link {
  color: white;
  background-color: transparent;
}
a:visited {
  color: #2b2118;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
.meet {
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
}
.s-card {
  background-color: #ed706e;
}
.m-card {
  background-color: #2b2118;
}
.ms-card {
  background-color: #79a9d1;
}
.team-container {
  margin: 0 auto;
}
.team {
  margin-top: 80px;
  font-size: 20px;
  height: 300px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 15px;
}

.about-links {
  text-decoration: none;
  margin: 5px;
}

.about-foot {
  background: #60985d;
  margin-top: 42px;
  padding: 20px 20px;
  margin-left: 10px;
  margin-right: 10px;
}
